@charset "utf-8";
*{margin:0px;padding:0px;list-style-type:none;}
a,img{border:0;}
a{color:#333;text-decoration:none;}
a:hover{color:#333;text-decoration:underline;}

.wapper{overflow:hidden;}

/*.wapper ul{margin-top:30px;}*/

.wapper li{float:left;width:240px;height:300px;margin:20px 30px;background-color:#fff;color:#fff;text-align:center;font-weight:bold;display:inline-block;}

.wapper li .pic{margin:0 0 30px 0;}
.pic img{height:290px;}
.wapper li .title{margin:0 10px 2px}
.wapper li .title a{color:#333;display:block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;_zoom:1}
.wapper li .desc{margin:0 10px 10px;height:18px;font-size:12px;text-align:center;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;_zoom:1;color:#b0b0b0}
.wapper li .price{margin:0 10px 14px;color: #030100;}

.wapper li{
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
    width:340px;
    height:380px;

}
.wapper li:hover {
    transform:translate(0,-10px);
    -webkit-transform:translate(0,-10px);
    -moz-transform:translate(0,-10px);
    -o-transform:translate(0,-10px);
    -ms-transform:translate(0,-10px);
    -webkit-box-shadow:0px 5px 15px #e5e5e5;
    -moz-box-shadow:0px 5px 15px #e5e5e5;
    box-shadow:0px 5px 15px #e5e5e5;
}

.tpl5 .price
{
    border-radius:100%;
    font-size:30px;
    font-weight:bold;
    color:#fff;
    background:rgba(245, 0, 0, 0.68);
    line-height:50px;
    text-align:center;
    padding:15px;
    display:block;
    position:absolute;
    text-decoration:none;
    text-shadow:1px 1px 2px rgba(0,0,0,.5);
    box-shadow:0 0 5px rgba(0,0,0,.3);
    bottom: 60px;
    right: 80px;
    width: 80px;
    height: 80px
}

.tpl5 .buy
{
    font-size:16px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    position:absolute;
    border-radius:4px;
    padding:8px 12px;
    box-shadow:0 0 5px rgba(0,0,0,.3);
    text-shadow:1px 1px 2px rgba(0,0,0,.5);
    top: 60px;
    left: 90px;
    background:rgba(245, 0, 0, 0.68);
}

.he-wrap{position:relative;zoom:1;display:inline-block;*display:inline;position:relative;padding: 30px 70px;}
.a0,.a1,.a2{-webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:.6s;
    -moz-animation-duration:.6s;
    -ms-animation-duration:.6s;
    -o-animation-duration:.6s;
    animation-duration:.6s}

.a1{-webkit-animation-delay:.2s;
    -moz-animation-delay:.2s;
    -o-animation-delay:.2s;
    animation-delay:.2s}

.a2{-webkit-animation-delay:.4s;
    -moz-animation-delay:.4s;
    -o-animation-delay:.4s;
    animation-delay:.4s}


/* rotateInLeft */
@-webkit-keyframes rotateInLeft{
    0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg)}
    100%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg)}
}
@-moz-keyframes rotateInLeft{
    0%{opacity:0;-moz-transform:translateX(-100%) rotate(-120deg)}
    100%{opacity:1;-moz-transform:translateX(0px) rotate(0deg)}
}
@-o-keyframes rotateInLeft{
    0%{opacity:0;-o-transform:translateX(-100%) rotate(-120deg)}
    100%{opacity:1;-o-transform:translateX(0px) rotate(0deg)}
}
@keyframes rotateInLeft{
    0%{opacity:0;transform:translateX(-100%) rotate(-120deg)}
    100%{opacity:1;transform:translateX(0px) rotate(0deg)}
}

.rotateInLeft{-webkit-animation-name:rotateInLeft;
    -moz-animation-name:rotateInLeft;
    -o-animation-name:rotateInLeft;
    animation-name:rotateInLeft}
/* jellyInDown */
@-webkit-keyframes jellyInDown{
    0%{-webkit-transform:translateY(-1000px);opacity:0}
    40%{-webkit-transform:translateY(0px);opacity:1}
    50%{-webkit-transform:scale(1.1,.9)}
    60%{-webkit-transform:scale(.95,1.05)}
    70%{-webkit-transform:scale(1.05,.95)}
    80%{-webkit-transform:scale(.98,1.02)}
    90%{-webkit-transform:scale(1.02,.98)}
    100%{-webkit-transform:scale(1)}
}
@-moz-keyframes jellyInDown{
    0%{-moz-transform:translateY(-1000px);opacity:0}
    40%{-moz-transform:translateY(0px);opacity:1}
    50%{-moz-transform:scale(1.1,.9)}
    60%{-moz-transform:scale(.95,1.05)}
    70%{-moz-transform:scale(1.05,.95)}
    80%{-moz-transform:scale(.98,1.02)}
    90%{-moz-transform:scale(1.02,.98)}
    100%{-moz-transform:scale(1)}
}
@-o-keyframes jellyInDown{
    0%{-o-transform:translateY(-1000px);opacity:0}
    40%{-o-transform:translateY(0px);opacity:1}
    50%{-o-transform:scale(1.1,.9)}
    60%{-o-transform:scale(.95,1.05)}
    70%{-o-transform:scale(1.05,.95)}
    80%{-o-transform:scale(.98,1.02)}
    90%{-o-transform:scale(1.02,.98)}
    100%{-o-transform:scale(1)}
}
@keyframes jellyInDown{
    0%{transform:translateY(-1000px);opacity:0}
    40%{transform:translateY(0px);opacity:1}
    50%{transform:scale(1.1,.9)}
    60%{transform:scale(.95,1.05)}
    70%{transform:scale(1.05,.95)}
    80%{transform:scale(.98,1.02)}
    90%{transform:scale(1.02,.98)}
    100%{transform:scale(1)}
}
.jellyInDown{-webkit-animation-name:jellyInDown;
    -webkit-transform-origin:50% 100%;
    -moz-animation-name:jellyInDown;
    -moz-transform-origin:50% 100%;
    -o-animation-name:jellyInDown;
    -o-transform-origin:50% 100%;
    animation-name:jellyInDown;
    transform-origin:50% 100%}

/* bounceInDown */
@-webkit-keyframes bounceInDown{
    0%{-webkit-transform:translateY(-1000px)}
    34%{-webkit-animation-timing-function:ease-out;-webkit-transform:translateY(0px)}
    52%{-webkit-transform:translateY(-24px);-webkit-animation-timing-function:ease-in}
    70%{-webkit-transform:translateY(0px);-webkit-animation-timing-function:ease-out}
    79%{-webkit-transform:translateY(-8px);-webkit-animation-timing-function:ease-in}
    88%{-webkit-transform:translateY(0px);-webkit-animation-timing-function:ease-out}
    94%{-webkit-transform:translateY(-3px);-webkit-animation-timing-function:ease-in}
    100%{-webkit-transform:translateY(0px)}
}
@-moz-keyframes bounceInDown{
    0%{-moz-transform:translateY(-1000px)}
    34%{-moz-animation-timing-function:ease-out;-moz-transform:translateY(0px)}
    52%{-moz-transform:translateY(-24px);-moz-animation-timing-function:ease-in}
    70%{-moz-transform:translateY(0px);-moz-animation-timing-function:ease-out}
    79%{-moz-transform:translateY(-8px);-moz-animation-timing-function:ease-in}
    88%{-moz-transform:translateY(0px);-moz-animation-timing-function:ease-out}
    94%{-moz-transform:translateY(-3px);-moz-animation-timing-function:ease-in}
    100%{-moz-transform:translateY(0px)}
}
@-o-keyframes bounceInDown{
    0%{-o-transform:translateY(-1000px)}
    34%{-o-animation-timing-function:ease-out;-o-transform:translateY(0px)}
    52%{-o-transform:translateY(-24px);-o-animation-timing-function:ease-in}
    70%{-o-transform:translateY(0px);-o-animation-timing-function:ease-out}
    79%{-o-transform:translateY(-8px);-o-animation-timing-function:ease-in}
    88%{-o-transform:translateY(0px);-o-animation-timing-function:ease-out}
    94%{-o-transform:translateY(-3px);-o-animation-timing-function:ease-in}
    100%{-o-transform:translateY(0px)}
}
@keyframes bounceInDown{
    0%{transform:translateY(-1000px)}
    34%{animation-timing-function:ease-out;transform:translateY(0px)}
    52%{transform:translateY(-24px);animation-timing-function:ease-in}
    70%{transform:translateY(0px);animation-timing-function:ease-out}
    79%{transform:translateY(-8px);animation-timing-function:ease-in}
    88%{transform:translateY(0px);animation-timing-function:ease-out}
    94%{transform:translateY(-3px);animation-timing-function:ease-in}
    100%{transform:translateY(0px)}
}
.bounceInDown{-webkit-animation-name:bounceInDown;
    -moz-animation-name:bounceInDown;
    -o-animation-name:bounceInDown;
    animation-name:bounceInDown}

.cf:before,.cf:after{content:" ";display:table;}
.cf:after{clear:both;}
.cf{*zoom:1;}
.page{width:1100px;margin:0 auto;padding:20px 0;}
.box{float:left;padding:1px;
    box-shadow:0 0 2px rgba(0,0,0,.1);
    margin:10px 15px;
    width: 367px;
    height: 300px;}
.he-wrap img{height: 250px;
    width: 250px;}